@use "../../node_modules/@theholocron/scss-functions/src/list/flat" as *;
@use "../syntaxes" as *;

////
/// @group Backgrounds & Borders
////

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/background-attachment
$background-attachment: flat($attachment, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/background-clip
$background-clip: flat($box, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/background-origin
$background-origin: flat($box, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/background-repeat
$background-repeat: flat($repeat-style, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/background-size
$background-size: flat($bg-size, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/border-style
$border-style: flat($line-style, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/box-shadow
$box-shadow: flat(none, $global);
