@use "../../node_modules/@theholocron/scss-functions/src/list/flat" as *;
@use "../syntaxes" as *;
@use "../custom";

////
/// @group Box Model
////

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/height
$height: flat(custom.$sizing, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/margin
$margin: flat(auto, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/overscroll-behavior
$overscroll-behavior: flat(auto, contain, none, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/padding
$padding: flat(auto, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/visibility
$visibility: flat(collapse, hidden, visible, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/width
$width: flat(custom.$sizing, $global);
