@use "../../node_modules/@theholocron/scss-functions/src/list/collect" as *;
@use "../syntaxes" as *;

////
/// @group Display
////

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/display
$display: collect($display-outside, $display-inside, $display-listitem, $display-internal, $display-box, $display-legacy);
