@use "../../node_modules/@theholocron/scss-functions/src/list" as *;

////
/// @group Flexible Box Layout
////

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/flex-direction
$flex-direction: (column, column-reverse, row, row-reverse);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/flex-wrap
$flex-wrap: (nowrap, wrap, wrap-reverse);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/flex-flow
$flex-flow: collect($flex-direction, $flex-wrap);
