@use "@theholocron/scss-functions/src/list/flat" as *;
@use "../syntaxes" as *;

////
/// @group Fonts
////

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/font-family
$font-family: flat($generic-family, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/font-size
$font-size: flat($absolute-size, $relative-size, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/font-style
$font-style: flat(italic, normal, oblique, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/font-variant-numeric
$font-variant-numeric: flat(normal, $numeric-figure-values, $numeric-spacing-values, $numeric-fraction-values, ordinal, slashed-zero, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/font-weight
$font-weight: flat(bolder, lighter, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/line-height
$line-height: $global;
