@use "../../node_modules/@theholocron/scss-functions/src/list/flat" as *;
@use "../syntaxes" as *;

////
/// @group Images
////

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/object-fit
$object-fit: flat(contain, cover, fill, none, scale-down, $global);
