@use "../../node_modules/@theholocron/scss-functions/src/list/collect" as *;
@use "../custom";

////
/// @group Pointer Events
////

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/pointer-events
$pointer-events: collect(auto, none, custom.$pointer-events-svg-only);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/touch-action
$touch-action: (auto, none, pan-x, pan-left, pan-right, pan-y, pan-up, pan-down, pinch-zoom, manipulation);
