@use "../../node_modules/@theholocron/scss-functions/src/list/flat" as *;
@use "../syntaxes" as *;

////
/// @group Table
////

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/border-collapse
$border-collapse: flat(collapse, separate, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/caption-side
$caption-side: flat(top, bottom, block-start, block-end, inline-start, inline-end, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/empty-cells
$empty-cells: flat(hide, show, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/table-layout
$table-layout: flat(auto, fixed, $global);

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/vertical-align
$vertical-align: flat(baseline, bottom, middle, sub, super, text-bottom, text-top, top, $global);
