@use "@theholocron/scss-functions/src/list/flat" as *;
@use "../syntaxes" as *;

////
/// @group Transitions
////

/// @since 0.1.0
/// @link https://developer.mozilla.org/docs/Web/CSS/transition-timing-function
$transition-timing-function: flat($timing-function, $global);
