@use "sass:map";
/* stylelint-disable number-max-precision */

/// Default to "AA" contrast ratio, which is 4.5
$contrast-ratio: (
	"AA": 4.5,
	"AAA": 7,
	"AALG": 3,
	"AAALG": 4.5,
) !default;

$default-contrast-ratio: map.get($contrast-ratio, "AA") !default;

/// @link https://en.wikipedia.org/wiki/Luma_(video)
$luma-coefficients: (
	"red": .2126,
	"green": .7152,
	"blue": .0722,
) !default;

/// @link https://en.wikipedia.org/wiki/SRGB
$srgb-coefficients: (
	"a": 0.055,
	"alpha": 1.055,
	"beta": 0.0031308,
	"gamma": 2.4,
	"kappa": 0.03928,
	"phi": 12.92,
) !default;
