@use "sass:map";
/* stylelint-disable number-max-precision */

/// Map of WCAG contrast ratios
/// @since 0.1.0
/// @link https://webaim.org/articles/contrast/
$contrast-ratio: (
	"AA": 4.5,
	"AAA": 7,
	"AALG": 3,
	"AAALG": 4.5,
) !default;

/// The default WCAG contrast ratio used; set to "AA" contrast ratio, which is 4.5
/// @since 0.1.0
/// @link https://webaim.org/articles/contrast/
$default-contrast-ratio: map.get($contrast-ratio, "AA") !default;

/// Map of Luma coefficients
/// @since 0.1.0
/// @link https://en.wikipedia.org/wiki/Luma_(video)
$luma-coefficients: (
	"red": .2126,
	"green": .7152,
	"blue": .0722,
) !default;

/// Map of (S)RGB coefficients
/// @since 0.1.0
/// @link https://en.wikipedia.org/wiki/SRGB
$srgb-coefficients: (
	"a": .055,
	"alpha": 1.055,
	"beta": .0031308,
	"gamma": 2.4,
	"kappa": .03928,
	"phi": 12.92,
) !default;
