@use "sass:map";
@use "../../node_modules/@theholocron/arone/src/utilities/breakpoints" as *;
@use "../config";
@use "../syntaxes";

/// The font-size property
/// @since 0.1.0
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/font-size
/// @param {String} $className ["font-size"] - a CSS class name that will className all helpers
/// @param {Map} $breakpoints [ config.$breakpoints ] - a map of grid breakpoints
/// @param {Map} $font-sizes [ config.$font-sizes ] - a map of font sizes
/// @example scss
///   @include font-size($className: fsize, $breakpoints: ("sm": 480px));
@mixin font-size($className: font-size, $breakpoints: config.$breakpoints, $font-sizes: config.$font-sizes) {
	$property: "font-size";

	.#{$className} {
		@each $key, $value in $font-sizes {
			@each $breakpoint in map.keys($breakpoints) {
				@include media-breakpoint-up($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$key},
					&-#{$breakpoint}-#{$key}-up {
						#{$property}: $value !important;
					}
				}

				@include media-breakpoint-down($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$key}-down {
						#{$property}: $value !important;
					}
				}

				@include media-breakpoint-only($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$key}-only {
						#{$property}: $value !important;
					}
				}
			}
		}

		@each $syntax in syntaxes.$font-size {
			@each $breakpoint in map.keys($breakpoints) {
				@include media-breakpoint-up($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$syntax},
					&-#{$breakpoint}-#{$syntax}-up {
						#{$property}: $syntax !important;
					}
				}

				@include media-breakpoint-down($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$syntax}-down {
						#{$property}: $syntax !important;
					}
				}

				@include media-breakpoint-only($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$syntax}-only {
						#{$property}: $syntax !important;
					}
				}
			}
		}
	}
}
