@use "sass:map";
@use "../node_modules/@theholocron/config/src" as astromech;
@use "./config";

/// The base class for all animations.
/// @since 0.1.0
/// @param {String} $class ["animate"] - a CSS class name to add to activate the animation
/// @example scss
///   @include animate($className: "anime", $duration: 2s);
@mixin animate($className: config.$base-class) {
	.#{$className} {
		animation-duration: astromech.$duration;
		animation-fill-mode: both;

		&.infinite {
			animation-iteration-count: infinite;
		}
	}
}
