@use "config";
@use "base" as *;
@use "bounce" as *;
@use "fade" as *;
@use "slide" as *;

// base
@include animate(config.$base-class);

// bounce
@include bounce-back-forth(config.$base-class);
@include bounce-in-down(config.$base-class);
@include bounce-in-left(config.$base-class);
@include bounce-in-right(config.$base-class);
@include bounce-in-up(config.$base-class);
@include bounce-out-down(config.$base-class);
@include bounce-out-left(config.$base-class);
@include bounce-out-right(config.$base-class);
@include bounce-out-up(config.$base-class);

// fade
@include fade-flash(config.$base-class);
@include fade-in-down(config.$base-class);
@include fade-in-left(config.$base-class);
@include fade-in-right(config.$base-class);
@include fade-in-up(config.$base-class);
@include fade-in(config.$base-class);
@include fade-out-down(config.$base-class);
@include fade-out-left(config.$base-class);
@include fade-out-right(config.$base-class);
@include fade-out-up(config.$base-class);
@include fade-out(config.$base-class);

// slide
@include slide-in-down(config.$base-class);
@include slide-in-left(config.$base-class);
@include slide-in-right(config.$base-class);
@include slide-in-up(config.$base-class);
@include slide-out-down(config.$base-class);
@include slide-out-left(config.$base-class);
@include slide-out-right(config.$base-class);
@include slide-out-up(config.$base-class);
