@use "sass:map";
@use "../../node_modules/@theholocron/arone/src/utilities/breakpoints" as *;
@use "../config";
@use "../syntaxes";

/// The height property
/// @since 0.1.0
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/height
/// @param {String} $className ["height"] - a CSS class name that will prefix all helpers
/// @param {Map} $breakpoints [ config.$breakpoints ] - a map of grid breakpoints
/// @param {Map} $sizing [ config.$sizing ] - a map of sizing prefixs
/// @example scss
///   @include height($className: h, $breakpoints: ("sm": 480px));
@mixin height($className: height, $breakpoints: config.$breakpoints, $sizing: config.$sizing) {
	$property: "height";

	@each $prefix in config.$sizing-prefixes {
		.#{$prefix}#{$className} {
			@each $breakpoint in map.keys($breakpoints) {
				@each $key, $value in $sizing {
					@include media-breakpoint-up($breakpoint, $breakpoints) {
						&-#{$breakpoint}-#{$key},
						&-#{$breakpoint}-#{$key}-up {
							#{$prefix}#{$property}: $value !important;
						}
					}

					@include media-breakpoint-down($breakpoint, $breakpoints) {
						&-#{$breakpoint}-#{$key}-down {
							#{$prefix}#{$property}: $value !important;
						}
					}

					@include media-breakpoint-only($breakpoint, $breakpoints) {
						&-#{$breakpoint}-#{$key}-only {
							#{$prefix}#{$property}: $value !important;
						}
					}
				}

				@each $syntax in syntaxes.$height {
					@include media-breakpoint-up($breakpoint, $breakpoints) {
						&-#{$breakpoint}-#{$syntax},
						&-#{$breakpoint}-#{$syntax}-up {
							#{$property}: $syntax !important;
						}
					}

					@include media-breakpoint-down($breakpoint, $breakpoints) {
						&-#{$breakpoint}-#{$syntax}-down {
							#{$property}: $syntax !important;
						}
					}

					@include media-breakpoint-only($breakpoint, $breakpoints) {
						&-#{$breakpoint}-#{$syntax}-only {
							#{$property}: $syntax !important;
						}
					}
				}
			}
		}
	}
}
