@use "../config";

/// The align-items property
/// @since 0.1.0
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/display
/// @param {String} $prefix ["align-items"] - a CSS class name that will prefix all helpers
/// @param {Map} $breakpoints [ config.$breakpoints ] - a map of grid breakpoints
/// @example scss
///   @include align-items($prefix: ai, $breakpoints: ("sm": 480px));
@mixin align-items($prefix: align-items, $breakpoints: config.$breakpoints) {
	.#{$prefix} {
		@each $prop in (baseline, center, end, flex-end, flex-start, inherit, initial, left, normal, right, safe, self-end, self-start, start,  stretch, unsafe, unset) {
			@each $breakpoint in map-keys($breakpoints) {
				@include media-breakpoint-up($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$prop},
					&-#{$breakpoint}-#{$prop}-up {
						align-items: $prop !important;
					}
				}

				@include media-breakpoint-down($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$prop}-down {
						align-items: $prop !important;
					}
				}

				@include media-breakpoint-only($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$prop}-only {
						align-items: $prop !important;
					}
				}
			}
		}
	}
}
