@use "../config";

/// This will take the element and animate it from the top down with a bounce at the end.
/// @since 0.1.0
/// @param {String} $class [".animate"] - a CSS class name to add to activate the animation
/// @example scss
///   @include bounce-in-down();
@mixin bounce-in-down($class: config.$base-class) {
	@keyframes bounce-in-down {
		from,
		60%,
		75%,
		90%,
		to {
			animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		}

		0% {
			opacity: 0;
			transform: translate3d(0, -100vh, 0);
		}

		60% {
			opacity: 1;
			transform: translate3d(0, 1.5625rem, 0);
		}

		75% {
			transform: translate3d(0, -.625rem, 0);
		}

		90% {
			transform: translate3d(0, .3125rem, 0);
		}

		to {
			transform: none;
		}
	}

	#{$class}.bounce-in-down {
		animation-name: bounce-in-down;
	}
}
