@use "../config";

/// This will take the element and animate it from the its current position with a bounce and then exit to through the bottom.
/// @since 0.1.0
/// @param {String} $class [".animate"] - a CSS class name to add to activate the animation
/// @example scss
///   @include bounce-out-down();
@mixin bounce-out-down($class: config.$base-class) {
	@keyframes bounce-out-down {
		20% {
			transform: translate3d(0, .625rem, 0);
		}

		40%,
		45% {
			opacity: 1;
			transform: translate3d(0, -1.5625rem, 0);
		}

		to {
			opacity: 0;
			transform: translate3d(0, 100vh, 0);
		}
	}

	#{$class}.bounce-out-down {
		animation-name: bounce-out-down;
	}
}
