@use "../config";

/// This will take the element and slide it from the left.
/// @since 0.1.0
/// @param {String} $className [".animate"] - a CSS class name to add to activate the animation
/// @example scss
///   @include slide-in-left();
@mixin slide-in-left($className: config.$base-class) {
	@keyframes slide-in-left {
		from {
			visibility: visible;
			transform: translate3d(-200%, 0, 0);
		}

		to {
			transform: translate3d(0, 0, 0);
		}
	}

	.#{$className}.slide-in-left {
		animation-name: slide-in-left;
	}
}
