@use "../config";

/// This will take the element and slide it out from the down.
/// @since 0.1.0
/// @param {String} $className [".animate"] - a CSS class name to add to activate the animation
/// @example scss
///   @include slide-out-down();
@mixin slide-out-down($className: config.$base-class) {
	@keyframes slide-out-down {
		from {
			transform: translate3d(0, 0, 0);
		}

		to {
			visibility: hidden;
			transform: translate3d(0, 300%, 0);
		}
	}

	.#{$className}.slide-out-down {
		animation-name: slide-out-down;
	}
}
