@use "../../node_modules/@theholocron/scss-functions/src/color" as *;
@use "../pseudo-classes/hover" as *;

////
/// @group Text
////
/* stylelint-disable declaration-no-important */
/// Creates text color variants
/// @since 0.1.0
/// @param {String} $parent - a CSS selector; should not include an HTML element
/// @param {Color} $color - the text color
/// @example scss
///   .example {
///     @include text-color('.text-test', black, white);
///   }
@mixin text-color($parent, $color) {
	#{$parent} {
		color: $color !important;
	}

	a#{$parent} {
		@include hover-focus() {
			color: shade($color: $color, $percent: 25%) !important; // stylelint-disable-line sh-waqar/declaration-use-variable
		}
	}
}
