@use "../config";

/// This will take the element and slide it from the right.
/// @since 0.1.0
/// @param {String} $class [".animate"] - a CSS class name to add to activate the animation
/// @example scss
///   @include slide-in-right();
@mixin slide-in-right($class: config.$base-class) {
	@keyframes slide-in-right {
		from {
			visibility: visible;
			transform: translate3d(200%, 0, 0);
		}

		to {
			transform: translate3d(0, 0, 0);
		}
	}

	#{$class}.slide-in-right {
		animation-name: slide-in-right;
	}
}
