@use "../config";

/// This will take the element and slide it out from the top.
/// @since 0.1.0
/// @param {String} $class [".animate"] - a CSS class name to add to activate the animation
/// @example scss
///   @include slide-out-up();
@mixin slide-out-up($class: config.$base-class) {
	@keyframes slide-out-up {
		from {
			transform: translate3d(0, 0, 0);
		}

		to {
			visibility: hidden;
			transform: translate3d(0, -200%, 0);
		}
	}

	#{$class}.slide-out-up {
		animation-name: slide-out-up;
	}
}
