@use "../config";

/// This will take the element and slide it out from the right.
/// @since 0.1.0
/// @param {String} $class [".animate"] - a CSS class name to add to activate the animation
/// @example scss
///   @include slide-out-right();
@mixin slide-out-right($class: config.$base-class) {
	@keyframes slide-out-right {
		from {
			transform: translate3d(0, 0, 0);
		}

		to {
			visibility: hidden;
			transform: translate3d(200%, 0, 0);
		}
	}

	#{$class}.slide-out-right {
		animation-name: slide-out-right;
	}
}
