@use "../node_modules/sass-true/sass/true" as *;
@use "sass:list";

@include describe("function: contains; deprecated in favor of list.index()") {
	@include it("it should return true when the variable is in the list") {
		$test: if(list.index(("one", "two", "three"), "one"), true, false);
		$expected: true;

		@include assert-equal($test, $expected, "Return true");
	}

	@include it("it should return false when the variable is not in the list") {
		$test: if(list.index(("one", "two", "three"), "four"), true, false);
		$expected: false;

		@include assert-equal($test, $expected, "Return false");
	}
}
