@use "sass:map";
@use "../../node_modules/@theholocron/arone/src/utilities/breakpoints" as *;
@use "../config";
@use "../syntaxes";

/// The position property
/// @since 0.1.0
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/position
/// @param {String} $className ["position"] - a CSS class name that will className all helpers
/// @param {Map} $breakpoints [ config.$breakpoints ] - a map of grid breakpoints
/// @example scss
///   @include position($className: fd, $breakpoints: ("sm": 480px));
@mixin position($className: position, $breakpoints: config.$breakpoints) {
	$property: "position";

	.#{$className} {
		@each $syntax in syntaxes.$position {
			@each $breakpoint in map.keys($breakpoints) {
				@include media-breakpoint-up($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$syntax},
					&-#{$breakpoint}-#{$syntax}-up {
						#{$property}: $syntax !important;
					}
				}

				@include media-breakpoint-down($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$syntax}-down {
						#{$property}: $syntax !important;
					}
				}

				@include media-breakpoint-only($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$syntax}-only {
						#{$property}: $syntax !important;
					}
				}
			}
		}
	}

	@each $abbrev, $direction in config.$box-directions {
		@each $value in (0, 50, 100) {
			@each $breakpoint in map.keys($breakpoints) {
				@include media-breakpoint-up($breakpoint, $breakpoints) {
					@if ($direction == "") {
						.#{$abbrev}-#{$breakpoint}-#{$value},
						.#{$abbrev}-#{$breakpoint}-#{$value}-up {
							top: $value !important;
							right: $value !important;
							bottom: $value !important;
							left: $value !important;
						}
					} @else {
						.#{$abbrev}-#{$breakpoint}-#{$value},
						.#{$abbrev}-#{$breakpoint}-#{$value}-up {
							#{$abbrev}: $value !important;
						}

						.#{$abbrev}-#{$breakpoint}-minus-#{$value},
						.#{$abbrev}-#{$breakpoint}-minus-#{$value}-up {
							#{$abbrev}: -$value !important;
						}

						@each $axis, $sides in (x: (right, left), y: (top, bottom)) {
							@each $side in $sides {
								.axis-#{$axis}-#{$breakpoint}-#{$value},
								.axis-#{$axis}-#{$breakpoint}-#{$value}-up {
									#{$side}: $value !important;
									#{$side}: $value !important;
								}
							}
						}
					}
				}

				@include media-breakpoint-down($breakpoint, $breakpoints) {
					@if ($direction == "") {
						.#{$abbrev}-#{$breakpoint}-#{$value}-down {
							top: $value !important;
							right: $value !important;
							bottom: $value !important;
							left: $value !important;
						}
					} @else {
						.#{$abbrev}-#{$breakpoint}-#{$value}-down {
							#{$abbrev}: $value !important;
						}

						.#{$abbrev}-#{$breakpoint}-minus-#{$value}-down {
							#{$abbrev}: -$value !important;
						}

						@each $axis, $sides in (x: (right, left), y: (top, bottom)) {
							@each $side in $sides {
								.axis-#{$axis}-#{$breakpoint}-#{$value}-down {
									#{$side}: $value !important;
									#{$side}: $value !important;
								}
							}
						}
					}
				}

				@include media-breakpoint-only($breakpoint, $breakpoints) {
					@if ($direction == "") {
						.#{$abbrev}-#{$breakpoint}-#{$value}-only {
							top: $value !important;
							right: $value !important;
							bottom: $value !important;
							left: $value !important;
						}
					} @else {
						.#{$abbrev}-#{$breakpoint}-#{$value}-only {
							#{$abbrev}: $value !important;
						}

						.#{$abbrev}-#{$breakpoint}-minus-#{$value}-only {
							#{$abbrev}: -$value !important;
						}

						@each $axis, $sides in (x: (right, left), y: (top, bottom)) {
							@each $side in $sides {
								.axis-#{$axis}-#{$breakpoint}-#{$value}-only {
									#{$side}: $value !important;
									#{$side}: $value !important;
								}
							}
						}
					}
				}
			}
		}
	}
}
