@use "sass:map";
@use "../../node_modules/@theholocron/arone/src/utilities/breakpoints" as *;
@use "../config";
@use "../syntaxes";

/// The place-items property
/// @since 0.1.0
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/place-items
/// @param {String} $className ["place-items"] - a CSS class name that will className all helpers
/// @param {Map} $breakpoints [ config.$breakpoints ] - a map of grid breakpoints
/// @example scss
///   @include place-items($className: pi, $breakpoints: ("sm": 480px));
@mixin place-items($className: place-items, $breakpoints: config.$breakpoints) {
	$property: "place-items";

	.#{$className} {
		@each $syntax in syntaxes.$place-items {
			@each $breakpoint in map.keys($breakpoints) {
				@include media-breakpoint-up($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$syntax},
					&-#{$breakpoint}-#{$syntax}-up {
						#{$property}: $syntax !important;
					}
				}

				@include media-breakpoint-down($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$syntax}-down {
						#{$property}: $syntax !important;
					}
				}

				@include media-breakpoint-only($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$syntax}-only {
						#{$property}: $syntax !important;
					}
				}
			}
		}
	}
}
