@use "sass:map";
@use "../../node_modules/@theholocron/arone/src/utilities/breakpoints" as *;
@use "../config";
@use "../syntaxes";

/// The text-justify property
/// @since 0.1.0
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/text-justify
/// @param {String} $className ["text-justify"] - a CSS class name that will className all helpers
/// @param {Map} $breakpoints [ config.$breakpoints ] - a map of grid breakpoints
/// @example scss
///   @include text-justify($className: tdec, $breakpoints: ("sm": 480px));
@mixin text-justify($className: text-justify, $breakpoints: config.$breakpoints) {
	$property: "text-justify";

	.#{$className} {
		@each $syntax in syntaxes.$text-justify {
			@each $breakpoint in map.keys($breakpoints) {
				@include media-breakpoint-up($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$syntax},
					&-#{$breakpoint}-#{$syntax}-up {
						text-align: justify !important;
						#{$property}: $syntax !important;
					}
				}

				@include media-breakpoint-down($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$syntax}-down {
						text-align: justify !important;
						#{$property}: $syntax !important;
					}
				}

				@include media-breakpoint-only($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$syntax}-only {
						text-align: justify !important;
						#{$property}: $syntax !important;
					}
				}
			}
		}
	}
}
