@use "../config";

/// This will take the element and fade it out from the left.
/// @since 0.1.0
/// @param {String} $class [".animate"] - a CSS class name to add to activate the animation
/// @example scss
///   @include fade-out-left();
@mixin fade-out-left($class: config.$base-class) {
	@keyframes fade-out-left {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
			transform: translate3d(-100%, 0, 0);
		}
	}

	#{$class}.fade-out-left {
		animation-name: fade-out-left;
	}
}
