@use "../config";

/* stylelint-disable declaration-no-important */

////
/// @author Mark Otto
////

/// These utility classes float an element to the left or right, or disable floating, based on the current viewport size using the CSS float property. !important is included to avoid specificity issues. These use the same viewport breakpoints as our grid system.
/// @name .pull-{size}-left, .pull-{size}-right, .pull-{size}-none
/// @since 0.1.0
/// @example html
/// <div class="pull-xs-left">Float left on all viewport sizes</div><br>
/// <div class="pull-xs-right">Float right on all viewport sizes</div><br>
/// <div class="pull-xs-none">Don't float on all viewport sizes</div>
@mixin float($prefix: float, $breakpoints: config.$breakpoints) {
	.#{$prefix} {
		@each direction in (left, none, right) {
			@each $breakpoint in map-keys($breakpoints) {
				@include media-breakpoint-up($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$direction},
					&-#{$breakpoint}-#{$direction}-up {
						float: $direction !important;
					}
				}

				@include media-breakpoint-down($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$direction}-down {
						float: $direction !important;
					}
				}

				@include media-breakpoint-only($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$direction}-only {
						float: $direction !important;
					}
				}
			}
		}
	}
}
