/* stylelint-disable declaration-no-important */
////
/// @author Newton Koumantzelis
////

/// Need to change the size of the font, use these classes to ensure.
/// @name .font-size-xs, .font-size-sm, .font-size-md, .font-size-lg
/// @since 0.1.0
/// @example html
/// <p class="font-size-xs-1">14px</p>
/// <p class="font-size-sm-2">16px</p>
/// <p class="font-size-md-3">18px</p>
/// <p class="font-size-lg-4">21px</p>
@mixin font-size($prefix: font-size, $breakpoints: config.$breakpoints) {
	.#{$prefix} {
		@each $prop in config.$font-size {
			@each $breakpoint in map-keys($breakpoints) {
				@include media-breakpoint-up($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$prop},
					&-#{$breakpoint}-#{$prop}-up {
						font-size: $prop !important;
					}
				}

				@include media-breakpoint-down($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$prop}-down {
						font-size: $prop !important;
					}
				}

				@include media-breakpoint-only($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$prop}-only {
						font-size: $prop !important;
					}
				}
			}
		}
	}
}
