/* stylelint-disable declaration-no-important */
////
/// @author Mark Otto
////

/// Change the alignment of elements with the vertical-alignment utilities. Please note that vertical-align only affects inline, inline-block, inline-table, and table cell elements.
/// @since 0.1.0
/// @name .valign-baseline, .valign-top, .valign-middle, .valign-bottom, .valign-text-bottom, .valign-text-top
/// @example html
/// <span class="valign-baseline">baseline</span>
/// <span class="valign-top">top</span>
/// <span class="valign-middle">middle</span>
/// <span class="valign-bottom">bottom</span>
/// <span class="valign-text-top">text-top</span>
/// <span class="valign-text-bottom">text-bottom</span>
@mixin valign($prefix: valign, $breakpoints: config.$breakpoints) {
	.#{$prefix} {
		@each $prop in (baseline, bottom, initial, inherit, middle, sub, super, text-bottom, text-top, top) {
			@each $breakpoint in map-keys($breakpoints) {
				@include media-breakpoint-up($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$prop},
					&-#{$breakpoint}-#{$prop}-up {
						vertical-align: #{$prop} !important;
					}
				}

				@include media-breakpoint-down($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$prop}-down {
						vertical-align: #{$prop} !important;
					}
				}

				@include media-breakpoint-only($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$prop}-only {
						vertical-align: #{$prop} !important;
					}
				}
			}
		}
	}
}
