@use "../node_modules/sass-true/sass/true" as *;
@use "../src/fade" as fclass;

@include describe("mixins: fade with namespace & custom class") {
	@include it("should fade & flash") {
		@include assert() {
			@include output {
				@include fclass.fade-flash('.test');
			}

			@include expect {
				@keyframes flash {
					from,
					50%,
					to {
						opacity: .8;
					}

					25%,
					75% {
						opacity: .15;
					}
				}

				.test.flash {
					animation-name: flash;
				}
			}
		}
	}

	@include it("should fade in & down") {
		@include assert() {
			@include output {
				@include fclass.fade-in-down('.test');
			}

			@include expect {
				@keyframes fade-in-down {
					from {
						opacity: 0;
						transform: translate3d(0, -100%, 0);
					}

					to {
						opacity: 1;
						transform: none;
					}
				}

				.test.fade-in-down {
					animation-name: fade-in-down;
				}
			}
		}
	}

	@include it("should fade in & left") {
		@include assert() {
			@include output {
				@include fclass.fade-in-left('.test');
			}

			@include expect {
				@keyframes fade-in-left {
					from {
						opacity: 0;
						transform: translate3d(-100%, 0, 0);
					}

					to {
						opacity: 1;
						transform: none;
					}
				}

				.test.fade-in-left {
					animation-name: fade-in-left;
				}
			}
		}
	}

	@include it("should fade in & right") {
		@include assert() {
			@include output {
				@include fclass.fade-in-right('.test');
			}

			@include expect {
				@keyframes fade-in-right {
					from {
						opacity: 0;
						transform: translate3d(100%, 0, 0);
					}

					to {
						opacity: 1;
						transform: none;
					}
				}

				.test.fade-in-right {
					animation-name: fade-in-right;
				}
			}
		}
	}

	@include it("should fade in & up") {
		@include assert() {
			@include output {
				@include fclass.fade-in-up('.test');
			}

			@include expect {
				@keyframes fade-in-up {
					from {
						opacity: 0;
						transform: translate3d(0, 100%, 0);
					}

					to {
						opacity: 1;
						transform: none;
					}
				}

				.test.fade-in-up {
					animation-name: fade-in-up;
				}
			}
		}
	}

	@include it("should fade in") {
		@include assert() {
			@include output {
				@include fclass.fade-in('.test');
			}

			@include expect {
				@keyframes fade-in {
					from {
						opacity: 0;
					}

					to {
						opacity: 1;
					}
				}

				.test.fade-in {
					animation-name: fade-in;
				}
			}
		}
	}

	@include it("should fade out & down") {
		@include assert() {
			@include output {
				@include fclass.fade-out-down('.test');
			}

			@include expect {
				@keyframes fade-out-down {
					from {
						opacity: 1;
					}

					to {
						opacity: 0;
						transform: translate3d(0, 100%, 0);
					}
				}

				.test.fade-out-down {
					animation-name: fade-out-down;
				}
			}
		}
	}

	@include it("should fade out & left") {
		@include assert() {
			@include output {
				@include fclass.fade-out-left('.test');
			}

			@include expect {
				@keyframes fade-out-left {
					from {
						opacity: 1;
					}

					to {
						opacity: 0;
						transform: translate3d(-100%, 0, 0);
					}
				}

				.test.fade-out-left {
					animation-name: fade-out-left;
				}
			}
		}
	}

	@include it("should fade out & right") {
		@include assert() {
			@include output {
				@include fclass.fade-out-right('.test');
			}

			@include expect {
				@keyframes fade-out-right {
					from {
						opacity: 1;
					}

					to {
						opacity: 0;
						transform: translate3d(100%, 0, 0);
					}
				}

				.test.fade-out-right {
					animation-name: fade-out-right;
				}
			}
		}
	}

	@include it("should fade out & up") {
		@include assert() {
			@include output {
				@include fclass.fade-out-up('.test');
			}

			@include expect {
				@keyframes fade-out-up {
					from {
						opacity: 1;
					}

					to {
						opacity: 0;
						transform: translate3d(0, -100%, 0);
					}
				}

				.test.fade-out-up {
					animation-name: fade-out-up;
				}
			}
		}
	}

	@include it("should fade out") {
		@include assert() {
			@include output {
				@include fclass.fade-out('.test');
			}

			@include expect {
				@keyframes fade-out {
					from {
						opacity: 1;
					}

					to {
						opacity: 0;
					}
				}

				.test.fade-out {
					animation-name: fade-out;
				}
			}
		}
	}
}
