////
/// @since 0.1.0
////

/// Default class for animations
/// @type String
$base-class: ".animate" !default;

/// Default set of animation durations
/// @prop {CSS Unit} $xs [.125s] - extra short amount of time
/// @prop {CSS Unit} $sm [.25s] - small amount of time
/// @prop {CSS Unit} $md [.5s] - medium amount of time
/// @prop {CSS Unit} $lg [1s] - large amount of time
/// @prop {CSS Unit} $xl [1.5s] - extra large amount of time
$duration: (
	"xs": ".125s",
	"sm": ".25s",
	"md": ".5s",
	"lg": "1s",
	"xl": "1.5s",
) !default;

/// Default easing function for transitions
/// @type String
$easing: "cubic-bezier(.25, .46, .45, .94)" !default;
