@use "sass-true/sass/true" as *;
@use "../src/box-model" as *;

@include describe("box model") {
	@include describe("box-model") {
		@include it("it should output a property on all sides given an input") {
			@include assert() {

				@include output() {
					@include box-model(margin, 3px);
				}

				@include expect() {
					margin: 3px;
				}
			}
		}

		@include it("it should output a property on top given an input") {
			@include assert() {

				@include output() {
					@include box-model(margin, 3px, top);
				}

				@include expect() {
					margin-top: 3px;
				}
			}
		}

		@include it("it should output a property on top given an input with direction syntax") {
			@include assert() {

				@include output() {
					@include box-model(border-width, 3px, top);
				}

				@include expect() {
					border-top-width: 3px;
				}
			}
		}
	}
}
