@use "sass-true/sass/true" as *;
@use "../src/positioning" as *;

@include describe("positioning") {
	@include describe("center") {
		@include it("it should absolutely center an element in both x & y planes") {
			@include assert() {

				@include output() {
					@include center();
				}

				@include expect() {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}

		@include it("it should absolutely center an element in the vertical plane") {
			@include assert() {

				@include output() {
					@include center("vertical");
				}

				@include expect() {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}

		@include it("it should absolutely center an element in the horizontal plane") {
			@include assert() {

				@include output() {
					@include center("horizontal");
				}

				@include expect() {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}

	@include describe("direction") {
		@include it("it should add a direction to all sides when not given any direction") {
			@include assert() {

				@include output() {
					@include direction(50%);
				}

				@include expect() {
					top: 50%;
					right: 50%;
					bottom: 50%;
					left: 50%;
				}
			}
		}

		@include it("it should add a direction to all sides when given all direction") {
			@include assert() {

				@include output() {
					@include direction(50%, "all");
				}

				@include expect() {
					top: 50%;
					right: 50%;
					bottom: 50%;
					left: 50%;
				}
			}
		}

		@include it("it should add a direction to multiple sides when given an axis") {
			@include assert() {

				@include output() {
					@include direction(50%, "y");
				}

				@include expect() {
					bottom: 50%;
					top: 50%;
				}
			}
		}

		@include it("it should add a direction to a side when given a direction") {
			@include assert() {

				@include output() {
					@include direction(50%, "top");
				}

				@include expect() {
					top: 50%;
				}
			}
		}
	}
}
