// Requirements
@use "true";

// Tests
@use "./bounce";
@use "./bounce-with-class";
@use "./fade";
@use "./fade-with-class";
@use "./slide";
@use "./slide-with-class";

// Report
@include true.report();
