@use "sass:math";
@use "../config";

/// This will take the element and animate it from the top down with a bounce at the end.
/// @since 0.1.0
/// @param {String} $className [".animate"] - a CSS class name to add to activate the animation
/// @example scss
///   @include bounce-back-forth();
@mixin bounce-back-forth($className: config.$base-class, $width: 20%) {
	$width: if(math.is-unitless($width), math.percentage($width), $width);
	$offset: 100% - $width;

	@keyframes bounce-back-forth {
		0% {
			opacity: .5;
			width: $width;
			margin-left: 0;
		}

		50% {
			opacity: .75;
			width: 100%;
			margin-left: 0;
		}

		100% {
			opacity: .5;
			width: $width;
			margin-left: $offset;
		}
	}

	.#{$className}.bounce-back-forth {
		animation-name: bounce-back-forth;
	}
}
