@use "../config";

/// This will take the element and animate it from the top down with a bounce at the end.
/// @since 0.1.0
/// @param {String} $class [".animate"] - a CSS class name to add to activate the animation
/// @example scss
///   @include bounce-back-forth();
@mixin bounce-back-forth($class: config.$base-class) {
	@keyframes bounce-back-forth {
		0% {
			opacity: .5;
			width: 20%;
			margin-left: 0;
		}

		50% {
			opacity: .75;
			width: 100%;
			margin-left: 0;
		}

		100% {
			opacity: .5;
			width: 20%;
			margin-left: 80%;
		}
	}

	#{$class}.bounce-back-forth {
		animation-name: bounce-back-forth;
	}
}
