@use "../config";

/// This will take the element and animate it from the right down with a bounce at the end.
/// @since 0.1.0
/// @param {String} $className [".animate"] - a CSS class name to add to activate the animation
/// @example scss
///   @include bounce-in-right();
@mixin bounce-in-right($className: config.$base-class) {
	@keyframes bounce-in-right {
		from,
		60%,
		75%,
		90%,
		to {
			animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		}

		from {
			opacity: 0;
			transform: translate3d(100vw, 0, 0);
		}

		60% {
			opacity: 1;
			transform: translate3d(-1.5625rem, 0, 0);
		}

		75% {
			transform: translate3d(.625rem, 0, 0);
		}

		90% {
			transform: translate3d(-.3125rem, 0, 0);
		}

		to {
			transform: none;
		}
	}

	.#{$className}.bounce-in-right {
		animation-name: bounce-in-right;
	}
}
