@use "../config";

/// This will take the element and animate it from the its current position with a bounce and then exit to through the right.
/// @since 0.1.0
/// @param {String} $className [".animate"] - a CSS class name to add to activate the animation
/// @example scss
///   @include bounce-out-right();
@mixin bounce-out-right($className: config.$base-class) {
	@keyframes bounce-out-right {
		20% {
			opacity: 1;
			transform: translate3d(-1.5625rem, 0, 0);
		}

		to {
			opacity: 0;
			transform: translate3d(100vw, 0, 0);
		}
	}

	.#{$className}.bounce-out-right {
		animation-name: bounce-out-right;
	}
}
