////
/// @author Nicolas Gallagher
////

/// Clearfix
/// For modern browsers
/// 1. The space content is one way to avoid an Opera bug when the
///    `contenteditable` attribute is included anywhere else in the document.
///    Otherwise it causes space to appear at the top and bottom of elements
///    that are clearfixed.
/// 2. The use of `table` rather than `block` is only necessary if using
///    `::before` to contain the top-margins of child elements.
/// @since 0.1.0
/// @link http://nicolasgallagher.com/micro-clearfix-hack/
/// @example scss
///   .clearfix {
///       @include clearfix();
///   }
@mixin clearfix() {
	@supports not (display: flow-root) {
		&::before,
		&::after {
			display: table; // 2
			content: " "; // 1
		}

		&::after {
			clear: both;
		}
	}
	@supports (display: flow-root) {
		display: flow-root;
	}
}
