@use "../config";

/// The text-overflow property
/// @since 0.1.0
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow
/// @param {String} $prefix ["text-overflow"] - a CSS class name that will prefix all helpers
/// @param {Map} $breakpoints [ config.$breakpoints ] - a map of grid breakpoints
/// @example scss
///   @include text-overflow($prefix: toverflow, $breakpoints: ("sm": 480px));
@mixin text-overflow($prefix: text-overflow, $breakpoints: config.$breakpoints) {
	.#{$prefix} {
		@each $prop in (clip, ellipsis, inherit, initial, unset) {
			@each $breakpoint in map-keys($breakpoints) {
				@include media-breakpoint-up($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$prop},
					&-#{$breakpoint}-#{$prop}-up {
						text-overflow: $prop !important;
					}
				}

				@include media-breakpoint-down($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$prop}-down {
						text-overflow: $prop !important;
					}
				}
				@include media-breakpoint-only($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$prop}-only {
						text-overflow: $prop !important;
					}
				}
			}
		}
	}
}
