@use "../config";

/// The vertical-align property
/// @since 0.1.0
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align
/// @param {String} $prefix ["valign"] - a CSS class name that will prefix all helpers
/// @param {Map} $breakpoints [ config.$breakpoints ] - a map of grid breakpoints
/// @example scss
///   @include valign($prefix: va, $breakpoints: ("sm": 480px));
@mixin valign($prefix: valign, $breakpoints: config.$breakpoints) {
	.#{$prefix} {
		@each $prop in (baseline, bottom, initial, inherit, middle, sub, super, text-bottom, text-top, top) {
			@each $breakpoint in map-keys($breakpoints) {
				@include media-breakpoint-up($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$prop},
					&-#{$breakpoint}-#{$prop}-up {
						vertical-align: #{$prop} !important;
					}
				}

				@include media-breakpoint-down($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$prop}-down {
						vertical-align: #{$prop} !important;
					}
				}

				@include media-breakpoint-only($breakpoint, $breakpoints) {
					&-#{$breakpoint}-#{$prop}-only {
						vertical-align: #{$prop} !important;
					}
				}
			}
		}
	}
}
