@use "../config";

/// This will take the element and fade it in from its current position.
/// @since 0.1.0
/// @param {String} $className [".animate"] - a CSS class name to add to activate the animation
/// @example scss
///   @include fade-flash();
@mixin fade-flash($className: config.$base-class) {
	@keyframes flash {
		from,
		50%,
		to {
			opacity: .8;
		}

		25%,
		75% {
			opacity: .15;
		}
	}

	.#{$className}.flash {
		animation-name: flash;
	}
}
