@use "../config";

/// This will take the element and fade it out from its current position.
/// @since 0.1.0
/// @param {String} $className [".animate"] - a CSS class name to add to activate the animation
/// @example scss
///   @include fade-out();
@mixin fade-out($className: config.$base-class) {
	@keyframes fade-out {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}

	.#{$className}.fade-out {
		animation-name: fade-out;
	}
}
